/* Remove default margin */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.profile-card {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;

    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px 20px;
    border-radius: 12px;

    display: flex;
    align-items: center;
    gap: 12px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
}

/* Profile Image */
.profile-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #00f2ff;
}

/* Name */
.profile-card .name {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

/* Role */
.profile-card .role {
    font-size: 12px;
    opacity: 0.8;
    margin: 0;
}

.mesh-panel {
    position: fixed;
    top: 20px;
    right: 20px;

    display: flex;
    flex-direction: column;   /* one below another */
    gap: 10px;

    padding: 15px;
    background: #000;
    border-radius: 10px;
}

.mesh-btn {
    padding: 10px 18px;
    background: #1a1a1a;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

/* Hover Effect */
.mesh-btn:hover {
    background: #00f2ff;
    color: black;
    transform: translateX(-5px); /* slight slide effect */
}
