body{
    margin:0
}

input{
 position:absolute;
 border:none;
 outline:none;
 background:transparent;
 text-align:center;
 font-size:14px;
}

#rightInfo{
 position:absolute;
 top:0;
 left:0;
 font-family:Arial;
}

#field{
 position:absolute;
 display:flex;
 flex-direction:column;
}

label{
 font-size:12px;
 margin-bottom:2px;
}

input, textarea{
 border:none;
 outline:none;
 background:transparent;
 font-size:12px;
}

textarea{
 resize:none;
}